<!DOCTYPE html>
<html lang="pt-br">

  <head>

    {% block head %}
      <title>Bruno Eduardo</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Portfólio</a>
      </div>

    </header>

    {% block content %}{% endblock %}

  </body>

</html>